
  .navbarcolor {
    background-color: dodgerblue;
height: 45px;;
 text-transform: uppercase;
 font-weight: 900;
 border-top-left-radius:50%;
  }
  .btn{
    background: white;
    width: 10%;
    height: 40px;
    position: relative;
    border: 2px solid #fff;
    left: -40px;
    color: white;
    transition: 0.1s ;
  }
  .btn:hover{
   transform: scale(1.1) 
  }

